# General
*.log
*.tmp
*.cache
build/
dist/
*.swp
.DS_Store

# Compilers
*.o
*.elf
*.bin
*.hex
*.map

# Python / tools
__pycache__/
.venv/

# KiCad
*-bak
*.kicad_prl
*.kicad_pcb-bak
*.net
*.zip
outputs/
plots/
sym-lib-table
*.kicad_sch.lck
*.kicad_pcb.lck
fp-info-cache
*/libraries/*.bak

# IDEs
.vscode/
.idea/
.obsidian

.metadata/
.settings/
[Rr]elease
[Dd]ebug
*.launch

# Other additions
\#auto_saved_files\#

hardware/project_trace_kicad/fp-lib-table
hardware/project_trace_kicad/~project_trace_kicad.kicad_pro.lck
hardware/project_trace_kicad/.history/
hardware/project_trace_kicad/project_trace_kicad.pdf
/hardware/libraries/LauerKiCad9.pretty
/hardware/project_trace_kicad/drill
/hardware/project_trace_kicad/gerber
